<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="tableSearch">
    <select name="s_board_type1"  class="Wid10 mWid25">
        <option value=""  selected >::종류::</option>
        <option value="개" >개</option>
        <option value="고양이" >고양이</option>
        <option value="길고양이" >길고양이</option>
        <option value="기타" >기타</option>
    </select>
</div>



<tbody>
<tr th:each="dto:${responseDTO.dtoList}">
    <td>[[${dto.title}]]</td>
    <td>[[${dto.writer}]]</td>
</tr>
</tbody>





<div>
    <ul>
        <li th:if="${responseDTO.prev}">
            <a th:data-num="${responseDTO.start -1}">Previous</a>
        </li>
        <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
            <li th:class="${responseDTO.page == i} ? 'page-item active' : 'page-item'">
                <a th:data-num="${i}" th:href="@{'/animal/list?page=' + ${i}}">[[${i}]]</a>
            </li>
        </th:block>
        <li th:if="${responseDTO.next}">
            <a th:data-num="${responseDTO.end + 1}">Next</a>
        </li>
    </ul>
</div>
</body>
</html>