<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modify</title>
</head>
<body>
<form action="/board/modify" method="post">
    <input type="text" name="bno" th:value="${dto.bno}" readonly>
<input type="text" name="title" th:value="${dto.title}">
<textarea name="content"> [[${dto.content}]]</textarea>
<input type="text" th:value="${dto.writer}" name="writer" readonly>
<input type="text" th:value="${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
<input type="text" th:value="${#temporals.format(dto.modDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
<a th:href="|@{/board/list}?${link}|">
    <button type="button">List</button>
</a>
    <button type="submit">Modify</button>
</form>
</body>
</html>