<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <form action="/board/register" method="post">
   title <input type="text" name="title">
        content <textarea name="content"></textarea>
        writer <input type="text" name="writer">
        <button type="submit">submit</button>
        <button type="reset">reset</button>
    </form>
</div>




</body>
</html>
<script th:inline="javascript">
    const auth = [[${#authentication}]]
    const errors = [[${errors}]]
    console.log(errors)
</script>