<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <form action="/board/register" method="post">
        <label for="title">title</label>
        <input type="text" id="title" name="title">

        <label>writer</label>
        <span th:text="${member.id}"></span>

        <label for="content">content</label>
        <textarea id="content" name="content"></textarea>

        <button type="submit">submit</button>
        <button type="reset">reset</button>
    </form>
</div>




</body>
</html>
<script th:inline="javascript">
    const auth = [[${#authentication}]]
    const errors = [[${errors}]]
    console.log(errors)
</script>