<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <h1>Login Page</h1>
 <th:block th:if="${param.logout != null}">
     <h1>Logout.........</h1>
 </th:block>
<form action="/member/login" method="post" th:if="${param.logout == null}">
    id <input type="text" name="username" placeholder="userId">
    password <input type="password" name="password" placeholder="password">
    <input type="checkbox" name="remember-me">
    <label class="form-check-label">
        자동 로그인
    </label>
    <div>
        <a href="/oauth2/authorization/kakao">KAKAO</a>
    </div>
    <button type="submit">LOGIN</button>
</form>
</body>
</html>